@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* * {
    @apply box-border;
  } */

  h1 {
    @apply text-5xl md:text-[80px];
  }
  h2 {
    @apply text-[40px];
  }
  h3 {
    @apply text-[22px];
  }
  h4 {
    @apply text-[18px];
  }

  .btn {
    @apply flex justify-center items-center h-[50px] px-8 text-white font-medium uppercase;
  }

  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 3s spring infinite alternate;
    -moz-animation: animatedgradient 3s spring infinite alternate;
    animation: animatedgradient 5s spring infinite alternate;
  }
}

.div {
  --span-time: 5s;
}

.star-container {
  position: absolute;
  width: 50%;
  height: 50vh;
  opacity: 0.25;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  animation: animate-star-movement 5s linear infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 600px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate-star-movement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-1000px);
  }
}

.stary-sky-bg {
  background-image: url('/stars.jpg');
  opacity: 0.5;
}

.spiral-bg {
  opacity: 15%;
  position: absolute;
  bottom: 0%;
  right: 30%;
  width: 50px;
  height: 50px;
  background: #ffffffb6;

  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 45px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0.1),
    0 0 0 120px rgba(255, 255, 255, 0.1), 0 0 0 160px rgba(255, 255, 255, 0.1),
    0 0 0 200px rgba(255, 255, 255, 0.1), 0 0 0 250px rgba(255, 255, 255, 0.1),
    0 0 0 400px rgba(255, 255, 255, 0.1);

  -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 45px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0.1),
    0 0 0 120px rgba(255, 255, 255, 0.1), 0 0 0 160px rgba(255, 255, 255, 0.1),
    0 0 0 200px rgba(255, 255, 255, 0.1), 0 0 0 250px rgba(255, 255, 255, 0.1),
    0 0 0 400px rgba(255, 255, 255, 0.1);

  -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 45px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0.1),
    0 0 0 120px rgba(255, 255, 255, 0.1), 0 0 0 160px rgba(255, 255, 255, 0.1),
    0 0 0 200px rgba(255, 255, 255, 0.1), 0 0 0 250px rgba(255, 255, 255, 0.1),
    0 0 0 400px rgba(255, 255, 255, 0.1);

  -ms-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 45px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0.1),
    0 0 0 120px rgba(255, 255, 255, 0.1), 0 0 0 160px rgba(255, 255, 255, 0.1),
    0 0 0 200px rgba(255, 255, 255, 0.1), 0 0 0 250px rgba(255, 255, 255, 0.1),
    0 0 0 400px rgba(255, 255, 255, 0.1);

  -o-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 45px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0.1),
    0 0 0 120px rgba(255, 255, 255, 0.1), 0 0 0 160px rgba(255, 255, 255, 0.1),
    0 0 0 200px rgba(255, 255, 255, 0.1), 0 0 0 250px rgba(255, 255, 255, 0.1),
    0 0 0 400px rgba(255, 255, 255, 0.1);

  border-radius: 50%;
}

.blur-line {
  position: absolute;
  top: -500%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
}

.blur-line-standalone {
  top: -500%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
}

.blur-line-blog-card {
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
}

/* nav bar */

.nav-container {
  border: 1px solid #333;
  border-radius: 9999px;
  box-shadow: none;
  position: relative;
  /* z-index: 10; */
  padding: 5px;
}

.nav-container-stroke {
  background: linear-gradient(
    90deg,
    transparent,
    #666 20%,
    #333 67.19%,
    transparent
  );
  height: 1px;
  position: absolute;
  top: -1px;
  width: 90%;
  left: 32px;
}
.nav-button {
  border-radius: inherit;
  height: 36px;
  /* border: 0; */
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;

  transition: color 0.15s ease;

  text-shadow: 1px 1px 12px hsla(0, 0%, 100%, 0.4);
  /* z-index: 4; */
}
/* .nav-button-glow {
  background: #fff;
  border-radius: inherit;
  position: absolute;
  filter: blur(32px);
  bottom: -52px;
  z-index: 0;
} */

/* .nav-bar-active-button {
  color: #fafafa;
  position: absolute;
  background: linear-gradient(90deg, transparent, #333 67.19%, transparent);
  filter: blur(10px);
} */
